@import '../../assets/helper/Helper.module.scss';

.navStyle {
    background-color: kinda-dark;
    margin-top: 3rem;
    border-bottom: solid 18px $kinda-dark;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        padding: 1rem 20vw;

        li {
            list-style: none;
            justify-content: center;

            a {
                color: $kinda-gold;
                text-decoration: none;
                font-size: 30px;
                text-align: center;
                font-family: Linden Hill;
            }
        }
    }
}