@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Linden+Hill:ital@0;1&display=swap');

$kinda-yellow: #FFE9BF;
$kinda-orange: #D29E62;
$kinda-brown: #695E48;
$kinda-gold: #C7BD8D;
$kinda-dark: #1F1F1F;
$kinda-black: #151515;
$kinda-white: #F5F5F5;

